<div class="main">
  <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Fyle</a>
      </div>
  </nav>
  <div class="selection">
      <div class="input-field">
          <select class="browser-default" (change)="testValue($event)">
              <option value="" disabled selected>Please Select City</option>
              <option *ngFor="let city of cities" [value]="city">{{city}}</option>
          </select>
      </div>
  </div>
  <div class="search">
      <div class="row">
          <form class="col s12">
              <div class="row">
                  <div class="input-field col s12" >
                      <input [(ngModel)]="searchKey" [ngModelOptions]="{standalone: true}" id="search" type="text">
                      <label for="search">Search Bank Branches</label>
                  </div>
              </div>
          </form>
      </div>
  </div>
  <div class="table" *ngIf="dataSource.length>0">
      <table class="responsive-table striped">
          <thead>
            <tr>
            <th>BankID</th>
            <th>Bank Name</th>
            <th>IFSC</th>
            <th>Branch</th>
            <th>Address</th>
            <th>City</th>
            <th>District</th>
            <th>State</th>
            </tr>
          </thead>
  
          <tbody>
              <tr *ngFor="let data of dataSource | search:searchKey">
                <td>{{data.bank_id}}</td>
                <td>{{data.bank_name}}</td>
                <td>{{data.ifsc}}</td>
                <td>{{data.branch}}</td>
                <td>{{data.address}}</td>
                <td>{{data.city}}</td>
                <td>{{data.district}}</td>
                <td>{{data.state}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>